<?xml version="1.0" encoding="UTF-8"?>
<errorReport
        #if($appFullName)appFullName="$appFullName"#end
        #if($appInstallationUid)appInstallationUid="$appInstallationUid"#end
        #if($userEMail)userEMail="$userEMail"#end>
	<stackTrace>$base64EncodedStackTrace</stackTrace>
</errorReport>
