<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>The Welcome Screen - Main</title>

    <link type="text/css" href="jquery-ui/css/redmond/jquery-ui-1.8rc3.custom.css" rel="stylesheet" />

    <script type="text/javascript" src="jquery-ui/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="jquery-ui/js/jquery-ui-1.8rc3.custom.min.js"></script>
    <script type="text/javascript">
        $(function(){

            // Accordion
            $("#accordion").accordion({ header: "h3" });

            // Tabs
            $('#tabs').tabs();


            // Dialog
            $('#dialog').dialog({
                autoOpen: false,
                width: 600,
                buttons: {
                    "Ok": function() {
                        $(this).dialog("close");
                    },
                    "Cancel": function() {
                        $(this).dialog("close");
                    }
                }
            });

            // Dialog Link
            $('#dialog_link').click(function(){
                $('#dialog').dialog('open');
                return false;
            });

            // Datepicker
            $('#datepicker').datepicker({
                inline: true
            });

            // Slider
            $('#slider').slider({
                range: true,
                values: [17, 67]
            });

            // Progressbar
            $("#progressbar").progressbar({
                value: 20
            });

            //hover states on the static widgets
            $('#dialog_link, ul#icons li').hover(
                function() { $(this).addClass('ui-state-hover'); },
                function() { $(this).removeClass('ui-state-hover'); }
            );

        });
    </script>
    <style type="text/css">
        body{ font: 62.5% "Trebuchet MS", sans-serif; margin: 50px;}
        .demoHeaders { margin-top: 2em; }
        #dialog_link {padding: .4em 1em .4em 20px;text-decoration: none;position: relative;}
        #dialog_link span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}
        ul#icons {margin: 0; padding: 0;}
        ul#icons li {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: left;  list-style: none;}
        ul#icons span.ui-icon {float: left; margin: 0 4px;}
        </style>
</head>

<body style="margin: 0px; padding: 0px; width: 100%; height: 100%;">
    <div style="background: url('img/welcome_screen_logo_fill.png') repeat-x;">
        <img src="img/welcome_screen_logo.png" alt="Welcome Screen Logo" />
    </div>

    <div class="ui-widget-content" style="margin: 4px; padding: 4px;">
        <h1>Welcome to The Apache HTTP Server Configuration Utility!</h1>
        <br />
        <p style="font-size: 1.3em; line-height: 1.5; margin: 1em 0; width: 50%;">This is a free graphical
            Apache HTTP Server configure utility.
            <br />
            Visit our site <a href="command://openProductWebPortal">apachetune.com</a> to get more information about this
            product.
        </p>

        <p style="font-weight: bold; margin: 2em 0 1em; font-size: 1.3em;">YOU CAN:</p>

        <div id="accordion">
            <div style="width: 40%;">
                <div>
                    <h3><a href="#">Open an Apache HTTP Server</a></h3>

                    <div>
                        <p>Select and open an Apache HTTP Server to configure installed locally on your computer.</p>

                        <a href="command://openServer">Click to show the Open Server dialog</a>
                    </div>
                </div>

                <div>
                    <h3><a href="#">Search for Apache HTTP Server</a></h3>

                    <div>
                        <p>Search and open an Apache HTTP Server to configure installed locally on your computer.</p>

                        <a href="command://searchServer">Click to show the Search Server dialog</a>
                    </div>
                </div>

                <div>
                    <h3><a href="#">Donate and help us to improve this application!</a></h3>

                    <div>
                        <p>This application is free, but you can help us to develop and maintain it. Even $1 will help us
                        to small improve this application and make for you new better version.
                        <br /><br />
                        Visit our site <a href="command://openProductWebPortal_DonatePage">apachetune.com</a> to make donation.
                        And thanks for help :)</p>
                    </div>
                </div>

                <div>
                    <h3><a href="#">Send feedback (we need your opinion!)</a></h3>

                    <div>
                        <p>Do not be hesitate to send feedback to our developer team! You can send information about
                        errors or your reprove or just wish for us. Click link below to send feedback.
                        <br /><br />
                        <a href="command://sendFeedback">Send feedback</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


