<?xml version="1.0" encoding="utf-8"?>
<appConfig>
    <modules>
        <!-- TODO Load modules subject to module dependencies. --> 
        <module name="core-ui" moduleControllerClass="com.apachetune.core.ui.CoreUIModuleController" />


        <module name="http-server" dependsOn="core-ui"
                moduleControllerClass = "com.apachetune.httpserver.HttpServerModuleController" />
    </modules>
</appConfig>