<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
  <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <!-- Pattern to output the caller's file name and line number -->
      <param name="ConversionPattern" value="%5p [%t] (%F:%L) - %m%n"/>
    </layout>
  </appender>

  <!--WARNING! Current velocity configuration depends on "R" appender name -->  
    <appender name="R" class="org.apache.log4j.RollingFileAppender">
        <!--WARNING! Current error reporting logic depends on paths and names of logs. -->  
        <param name="file" value="logs/apachetune.log"/>
        <param name="MaxFileSize" value="10MB"/>
        <!-- Keep one backup file -->
        <param name="MaxBackupIndex" value="128"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %5p [%t] (%F:%L) - %m%n"/>
        </layout>
    </appender>

    <logger name="org.apache.commons.httpclient" additivity="false">
        <level value="warn" />

        <appender-ref ref="stdout" />
        <appender-ref ref="R" />
    </logger>

    <logger name="httpclient.wire" additivity="false">
        <level value="debug" />

        <appender-ref ref="stdout" />
        <appender-ref ref="R" />
    </logger>

    <root>
        <priority value="info" />

        <appender-ref ref="stdout" />
        <appender-ref ref="R" />
    </root>
</log4j:configuration>